html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	outline: none;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #f0f0f0;
}

.nav_inner,
.action_inner,
.testimonial_inner,
.footer_inner {
	width: 1200px;
	margin: 0 auto;
}

.title {
	font-family: "Poppins", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	font-size: 28px;
	line-height: 36px;
	font-weight: 300;
	font-style: normal;
	text-transform: none;
	text-decoration: none;
}

.nav_wrap {
	width: 100%;
}

ul#navigation {
	list-style-type: none;
}

#navigation li.menu-item {
	float: left;
	margin: 20px;
}

#navigation li.menu-item a {
	display: block;
	height: 100%;
	padding: 4px 10px;
}

#navigation li.menu-item a .nav_item_wrap {
	display: inline-block;
	vertical-align: middle;
}

#navigation li.menu-item a .nav_title {
	font-family: "Poppins", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	font-size: 12px;
	line-height: 20px;
	font-weight: 600;
	font-style: normal;
	text-transform: uppercase;
}

.logo_wrap {
	position: relative;
	height: 100%;
	margin: 20px;
}
.logo_wrap .logo {
	display: inline-block;
	width: auto;
	vertical-align: middle;
}

/* Carousel Override CSS */
.carousel.carousel-slider .control-arrow {
	background-color: transparent !important;
}

.carousel .thumb.selected,
.carousel .thumb:hover {
	border: 3px solid #01a2a6 !important;
}

.slider .slide .legend {
	bottom: 50% !important;
	background-color: transparent;
	opacity: 1;
	font-weight: 300;
	font-family: Poppins;
	font-size: 40px;
	line-height: 58px;
	color: rgb(255, 255, 255);
	margin: 0px;
	z-index: auto;
	width: 440px;
	height: 174px;
	padding: 0px;
	border-width: 0px;
	border-radius: 0px;
	letter-spacing: 0px;
	-webkit-filter: none;
	filter: none;
	left: 10%;
	text-align: left;
}

.slider_action {
	width: 303px;
	margin: 43px 0px;
}

.slider_action .go {
	background-color: rgb(254, 93, 89);
	border-color: rgb(254, 93, 89);
	border-radius: 20px;
}

.slider_action .go:hover {
	background-color: rgb(254, 93, 89);
}

.slider_action .info {
	background-color: transparent;
	border: 2px solid #e5e5e5;
	border-radius: 20px;
}

.slider_action .info:hover {
	background-color: transparent !important;
}

.action_wrap {
	width: 100%;
	background-color: #01a2a6;
	padding: 50px;
}

.action_area {
	color: #ffffff;
}

/* .action_icon {
	width: 60px;
	height: 60px;
	margin-bottom: 50px;
} */

.action_area h1 {
	color: #fff199;
}

.testimonial_wrap {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 100px;
	background-color: #fbfbfb;
}

.testimonial_inner h1 {
	font-family: "Poppins";
	font-size: 32px;
	margin: 40px;
}

.testimonial_inner .quote_content {
	width: 300px;
	margin: 0px auto 30px;
	border: 1px solid #e0e0e0;
	padding: 20px;
	position: relative;
}

.testimonial_inner .quote_info_wrap {
	padding: 0 18px;
}

.testimonial_inner .quote_content h6 {
	font-family: "Open Sans", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	font-size: 13px;
	line-height: 20px;
	font-weight: 600;
	font-style: normal;
	margin-bottom: 20px;
}

.testimonial_inner .quote_content p {
	font-family: "Open Sans", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	font-size: 13px;
	line-height: 20px;
	font-weight: normal;
	font-style: normal;
	color: #909195;
}

.testimonial_inner .quote_content::before {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 10px solid #e0e0e0;
	border-right: 10px solid transparent;
	border-top: 10px solid #e0e0e0;
	border-bottom: 10px solid transparent;
	bottom: -21px;
	left: 51px;
}

.testimonial_inner .quote_content:after {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 9px solid #fff;
	border-right: 9px solid transparent;
	border-top: 9px solid #fff;
	border-bottom: 9px solid transparent;
	bottom: -18px;
	left: 52px;
}

.testimonial_inner .quote_info_wrap .quote_image {
	width: 60px;
}

.testimonial_inner .quote_info_wrap .wrap_quote_title {
	height: 60px;
	padding: 10px;
	width: 240px;
	color: #ffffff;
}

.footer_wrap {
	font-family: "Open Sans", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	width: 100%;
	padding: 20px;
	background-color: #3d3d47;
	font-size: 13px;
	color: rgba(255, 255, 255, 0.3);
}

.footer_inner h6 {
	font-family: "Poppins", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	color: rgba(255, 255, 255);
	border-bottom: 2px solid #01a2a6;
	display: inline-block;
	padding-bottom: 10px;
	font-size: 16px;
	margin-bottom: 28px;
}
